################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YouTubeScraper/v16
/.vs
/YouTubeScraper/.vs/YouTubeScraper/v16
/YouTubeScraper/YouTubeScraper/bin/Debug/netstandard2.0
/YouTubeScraper/YouTubeScraper/obj
