################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YouTubeScraper/v16
/.vs
/YouTubeScraper/.vs/YouTubeScraper/v16
/YouTubeScraper/YouTubeScraper/bin/Debug/netstandard2.0
/YouTubeScraper/YouTubeScraper/obj
/YouTubeScraper/.vs/YouTubeScraper/DesignTimeBuild
/YouTubeScraper/.vs/YouTube.API/v16
/YouTubeScraper/YouTube.API.Test/bin/Debug/netcoreapp3.0
/YouTubeScraper/YouTube.API.Test/obj
/YouTubeScraper/YouTubeScraper/bin/Debug/netstandard2.1
